<div class="repo card">
<div class="card-head">
<h3>
<span class="icon icon-book"></span>
<a href="<%= repo.html_url %>"><%= repo.name %></a>
</h3>
</div>
<div class="card-text">
<p><%= repo.description %></p>
</div>
<div class="card-foot">
</div>
</div>
