<div class="section repositories">
<div class="section-head">
<h2>Repositories</h2>
<p class="desc">GitHub repositories that I've built.</p>
</div>
<div class="cards repos">
<% for (const repo of repos) { %>
<%= _.template(cards.repo)({ repo }) %>
<% } %>
</div>
</div>
