
/** Place your custom css here.
 **
 **/


/* Some popular programming languages */

.lang-code-applescript { background: #101f1f; }
.lang-code-asp { background: #6a40fd; }
.lang-code-assembly { background: #6e4c13; }
.lang-code-batchfile { background: #c1f12e; }
.lang-code-c { background: #555555; }
.lang-code-c-sharp { background: #178600; }
.lang-code-c-plus-plus { background: #f34b7d; }
.lang-code-clojure { background: #db5855; }
.lang-code-coffeescript { background: #244776; }
.lang-code-coldfusion { background: #ed2cd6; }
.lang-code-common-lisp { background: #3fb68b; }
.lang-code-css { background: #563d7c; }
.lang-code-dart { background: #00b4ab; }
.lang-code-dockerfile { background: #384d54; }
.lang-code-eiffel { background: #946d57; }
.lang-code-erlang { background: #b83998; }
.lang-code-go { background: #00add8; }
.lang-code-hack { background: #878787; }
.lang-code-haskell { background: #5e5086; }
.lang-code-haxe { background: #df7900; }
.lang-code-html { background: #e34c26; }
.lang-code-java { background: #b07219; }
.lang-code-javascript { background: #f1e05a; }
.lang-code-kotlin { background: #f18e33; }
.lang-code-lua { background: #000080; }
.lang-code-makefile { background: #427819; }
.lang-code-markdown { background: #2121ab; }
.lang-code-matlab { background: #e16737; }
.lang-code-objective-c { background: #438eff; }
.lang-code-objective-c-plus-plus { background: #6866fb; }
.lang-code-objective-j { background: #ff0c5a; }
.lang-code-ocaml { background: #3be133; }
.lang-code-opal { background: #f7ede0; }
.lang-code-parrot { background: #f3ca0a; }
.lang-code-perl { background: #0298c3; }
.lang-code-perl-6 { background: #0000fb; }
.lang-code-php { background: #4f5d95; }
.lang-code-powershell { background: #012456; }
.lang-code-python { background: #3572a5; }
.lang-code-qml { background: #44a51c; }
.lang-code-r { background: #198ce7; }
.lang-code-ruby { background: #701516; }
.lang-code-rust { background: #dea584; }
.lang-code-scala { background: #c22d40; }
.lang-code-scheme { background: #1e4aec; }
.lang-code-shell { background: #89e051; }
.lang-code-swift { background: #ffac45; }
.lang-code-tcl { background: #e4cc98; }
.lang-code-tex { background: #3d6117; }
.lang-code-typescript { background: #2b7489; }
.lang-code-unrealscript { background: #a54c4d; }
.lang-code-vala { background: #fbe5cd; }
.lang-code-vim-script { background: #199f4b; }
.lang-code-visual-basic { background: #945db7; }
.lang-code-vue { background: #2c3e50; }
.lang-code-xslt { background: #eb8ceb; }
.lang-code-zephir { background: #118f9e; }

